.results {
    display: block;
    margin-top: 30px;
    background-color: rgba(225,225,225,0.88);
    border-radius: 8px;
    padding: 10px 15px;
    h3 {
        text-align: center;
        font-size: 20px;

    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        &__precision {
            width: 48%;
        }
        &__result {
            width: 48%;

        }
    }
}